.boddy {
    background-color: #FAF4F2;
}
.background-image {
    background-image: url(../images/camping.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    max-width: 100%;
    width: 100%;
    border-radius: 0px 0px 70px 70px;
}
.headerdiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 60px;
    height: 50px;
}
.nav-ul1 {
    display: flex;
    align-items: center;        
}

.liclass {
    color: var(--whitecolor);
    margin-left: 25px;
    font-size: 18px;
    font-family: var(--fontfamilyroboto);
}

.divsing {
    max-width: 130px;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    border-color: var(--whitecolor);
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;
    font-family: var(--fontfamilyroboto);

}
.burger-bar {
    display: block;
    font-size: 50px;
}
.divheader {
    max-width: 610px;
    width: 100%;
    height: 1080px;
    margin: 0 auto;
    padding-top: 238px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.firsth {
    max-width: 605px;
    width: 100%;
    font-size: 81px;
    color: var(--whitecolor);
    font-family: var(--fontfemiliarchivo);
    margin-bottom: 50px;
}
.firstp {
    max-width: 456px;
    height: 57px;
    width: 100%;
    font-size: 18px;
    color: var(--whitecolor);
    font-family: var(--fontfamilyroboto);
}
.smolldiv {
    width: 205px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: #E76F51;
}
.smoldiva {
    font-size: 18px;
    color: var(--whitecolor);
    font-family: var(--fontfamilyroboto);
    
}
/* firs section */
.firstdiv {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1518px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px; 
}
.smolldiv1 {
    max-width: 357px;
    height: 312px;
    width: 100%;
    background-color: var(--whitecolor);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.smoldivh {
    font-size: 18px;
    font-family: var(--fontfemiliarchivo);
    margin-top: 20px;
    margin-bottom: 10px;

}
.smolldivp {
    font-size: 16px;
    font-family: var(--fontfamilyroboto);
    max-width: 277px;
    height: 25px;
}

/* hover */

/* veriables */
:root {
    --whitecolor: #FFFFFF;
}
:root{
    --fontfamilyroboto: 'Roboto';
}
:root {
    --fontfemiliarchivo:'Archivo Expanded';
}