.boddy {
    background-color: #FAF4F2;
}
.background-image {
    background-image: url(../images/camping.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    max-width: 100%;
    width: 100%;
    border-radius: 0px 0px 90px 90px;
}
.headerdiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 60px;
    height: 50px;
    position: fixed;
    max-width: 1518px;
    width: 100%;
    margin: 0 auto;
}
.nav-ul1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 100px;     
}
.liclass {
    color: black;
    margin-left: 50px;
    font-size: 18px;
    font-family: var(--fontfamilyroboto);
}
.burgerbar {
    display: none;
    font-size: 50px;
    color: var(--whitecolor);
}
.divheader {
    max-width: 610px;
    width: 100%;
    height: 1080px;
    margin: 0 auto;
    padding-top: 238px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.firsth {
    max-width: 605px;
    width: 100%;
    font-size: 81px;
    color: var(--whitecolor);
    font-family: var(--fontfemiliarchivo);
    margin-bottom: 50px;
    text-align: center;
}
.firstp {
    max-width: 456px;
    height: 57px;
    width: 100%;
    font-size: 18px;
    color: var(--whitecolor);
    font-family: var(--fontfamilyroboto);
    text-align: center;
}
.smolldiv {
    width: 205px;
    height: 50px;
    border-radius: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
    background-color: #E76F51;
}
.smoldiva {
    font-size: 18px;
    color: var(--whitecolor);
    font-family: var(--fontfamilyroboto);
    
}
/* firs section */
.firstdiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1518px;
    width: 100%;
    margin: 0 auto;
    margin-top: -90px; 
}
.smolldiv1 {
    max-width: 357px;
    height: 312px;
    width: 100%;
    background-color: var(--whitecolor);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 30px;
}
.smoldivh {
    font-size: 18px;
    font-family: var(--fontfemiliarchivo);
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.smolldivp {
    font-size: 16px;
    font-family: var(--fontfamilyroboto);
    max-width: 277px;
    height: 25px;
    text-align: center;
}
/* section 2 */
.section2div {
    max-width: 1518px;
    width: 100%;
    margin: 0 auto;
    margin-top: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.headdivp {
    padding-top: 41px;
    max-width: 456px;
    width: 100%;
    font-family: var(--fontfemiliarchivo);
    font-size: 40px;
    text-align: center;  
}
.divheart{
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: var(--whitecolor);
    margin-bottom: 290px;
    margin-left: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
}
.fa-heart {
    border-color: #E76F51;
}
.smolboxs {
    max-width: 1518px;
    width: 100%;
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.smolboxdiv:nth-child(5){
    margin-top: 30px;
}
.smolboxdiv:nth-child(6){
    margin-top: 30px;
}
.smolboxdiv:nth-child(7){
    margin-top: 30px;
}
.smolboxdiv:nth-child(8){
    margin-top: 30px;
}
.smolboxdiv:nth-child(9){
    margin-top: 30px;
}
.smolboxdiv:nth-child(10){
    margin-top: 30px;
}
.smolboxdiv:nth-child(11){
    margin-top: 30px;
}
.smolboxdiv:nth-child(12){
    margin-top: 30px;
}
.smolboxdiv {
    background-color: white;
    max-width: 357px;
    width: 100%;
    height: 465px;
    border-radius: 20px;
}
.images {
    max-width: 277px;
    width: 100%;
    height: 180px;
    border-radius: 30px;
}
.smolbox {
    position: relative;
}
.smolboxp{
    width: 145px;
    height: 50px;
    border-radius: 30px;
    background-color: var(--whitecolor);
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #E76F51;
}
.smollboxsh3 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: var(--fontfemiliarchivo);
}
.smollboxsp {
    font-size: 16px;
    font-family: var(--fontfamilyroboto);
    text-align: center;
    color: #3B3735;
}
.readmorea {
    color: #8D8D8D;
    font-size: 16px;
    font-family: var(--fontfamilyroboto);
}
.readmorediv {
    width: 185px;
    height: 50px;
    border-radius: 30px;
    background-color: gainsboro;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 25px;
}
.smolboxdiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.headdiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.smallview {
    width: 205px;
    height: 50px;
    border-radius: 30px;
    border-style: solid;
    background-color:gainsboro;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    margin-top: 60px;
    color: #8D8D8D;
}
.viewdiv {
    max-width: 1518px;
    width: 100%;
}
/* section 4 */
.section4div {
    max-width: 1518px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    margin-top: 150px;
    background-color: #F8E1DB;
    border-radius: 30px;
}
.infut5 {
    max-width: 616px;
    width: 100%;
    height: 80px;
    border-radius: 10px;
    margin-top: 30px;
    font-family:var(--fontfamilyroboto);
    background-color:gainsboro;
    border-color: darkgrey;
    border-style: solid;
    font-style: italic;
}
.section4h3 {
    font-size: 40px;
    font-family: var(--fontfemiliarchivo);
    margin-bottom: 10px;
}
.section4p {
    max-width: 486px;
    width: 100%;
    font-size: 16px;
    font-family: var(--fontfamilyroboto);
}
.imagediv {
    width: 100%;
}
/* form section */
.text-divh {
    font-size: 25px;
    font-family:var(--fontfamilyroboto);
    max-width: 800px;
    width: 100%;
    font-weight: bold;
    margin-top: 50px;
}
.text-divp {
    font-family:var(--fontfemiliarchivo);
    font-size: 50px;
    max-width: 750px;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
}
.section2-div { 
    margin-bottom: 100px;
    max-width: 1518px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;}
.textarea {
    max-width: 710px;
    width: 100%;
    height: 288px;
    font-family:var(--fontfemiliarchivo);
    background-color: #F8E1DB;
    border-color: #E76F51;
    border-style:solid;
    border-radius: 10px;
    resize: none;}
.textarea::-webkit-input-placeholder {
    color: #E76F51;
    font-size: 15px;
    font-style: oblique;}
.textarea::-moz-placeholder {
    color: darkgrey;
    font-size: 15px;
    font-style: oblique;}
.textarea:-ms-input-placeholder {
    color: darkgrey;
    font-size: 15px;
    font-style: oblique;}
.textarea::-ms-input-placeholder {
    color: darkgrey;
    font-size: 15px;
    font-style: oblique;}
.textarea::placeholder {
    color: darkgrey;
    font-size: 15px;
    font-style: oblique;}
.infut2::-webkit-input-placeholder {
    color: darkgrey;
    font-size: 15px;
    font-style: oblique;}
.infut2::-moz-placeholder {
    color: darkgrey;
    font-size: 15px;
    font-style: oblique;}
.infut2:-ms-input-placeholder {
    color: darkgrey;
    font-size: 15px;
    font-style: oblique;}
.infut2::-ms-input-placeholder {
    color: darkgrey;
    font-size: 15px;
    font-style: oblique;}
.infut2::placeholder {
    color: darkgrey;
    font-size: 15px;
    font-style: oblique;}
.infut2:focus {
    outline: none;}
.textarea:focus {
    outline: none;
}
.infut-div1 {
    max-width: 900px;
    width: 100%;
    height: 288px;}
.infut2 {
    max-width: 652px;
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
    font-family:var(--fontfamilyroboto);
    background-color: #F8E1DB;
    border-color: #E76F51;
    border-style: solid;
    border-radius: 10px;
}
.infut-div2 {
    max-width: 652px;
    width: 100%;
    height: 288px;
    margin-left: 16px;}
.button-send {
    max-width: 652px;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: #F8E1DB;
    border-color: #E76F51;
    border-style: solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        border: none;}
.send-logo {
    width: 30px;
    height: 25px;}
.form-div {
    max-width: 1518px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;}
/* section map */
.map {
    max-width: 1518px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}
.sectionmap {
    max-width: 1518px;
    width: 100%;
}
.mapp {
    font-size: 25px;
    font-family: var(--fontfamilyroboto);
    margin-top: 20px;
    margin-bottom: 20px;
}
.location {
    width: 25px;
    height:25px;
}
.locationdiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}
/* footer */
.footer {
    background-image: url(../images/pinkk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    width: 100%;
    border-radius: 90px 90px 0px 0px;
}
.footerdiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 100px;
}
.firtsfooter {
    max-width: 1518px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    margin-top: 103px;
}
.footerh2 {
    font-size: 18px;
    font-family: var(--fontfemiliarchivo);
}
.footerp {
    font-size: 16px;
    font-family: var(--fontfamilyroboto);
    max-width: 615px;
    margin-top: 20px;
    color: #3B3735;
}
.footerh4 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: var(--fontfemiliarchivo);
}
.footerh31 {
    font-size: 18px;
    font-family: var(--fontfemiliarchivo);
}
.footera {
    font-size: 16px;
    font-family: var(--fontfamilyroboto);
    color:#3B3735;
}
.footerul {
    margin-top: 20px;
    margin-bottom: 55px;
}
.footerli {
    margin-top: 10px;
    font-family: var(--fontfamilyroboto);
}
.footerli1 {
    margin-top: 10px;
    margin-bottom: 85px;
    font-family: var(--fontfamilyroboto);
}
.first-span:before {
    content: ' \00A9';}
.seconffooter {
    max-width: 193px;
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 16px;
    font-family: var(--fontfamilyroboto);
    color: #3B3735;
}
.divfooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.divfooter1 {
    margin-left: 80px;
}
/* hover */
.readmorediv:hover{
    background-color: #F8E1DB;
}
.viewdiv :hover {
    background-color: #F8E1DB;

}
.button-send:hover{
    background-color: #E76F51;
}
.liclass:hover{
    color: #E76F51;
}
.smolldiv:hover{
    background-color: #F8E1DB;
}
.smolldiv1:hover .imagehover {
    -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
            transform: rotate(15deg);
}
.imagehover1:hover {
    -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
            transform: rotate(15deg);
}
.divheart:hover .fa-heart {
    background-color: #E76F51;
}
.smolboxp:hover {
    font-size: 20px;
}
/* veriables */
:root {
    --whitecolor: #FFFFFF;
}
:root{
    --fontfamilyroboto: 'Roboto';
}
:root {
    --fontfemiliarchivo:'Archivo Expanded';
}