.background-image {
    background-image: url(../images/camping.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1920px;
    height: 1080px;
    max-width: 100%;
    flex-wrap: wrap;
    border-radius: 0px 0px 60px 60px;

}
.headerdiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 60px;
    width: 1518px;
    height: 50px;
    max-width: 100%;
    margin: 0 auto;
}
.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
      
}
.nav-ul1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 382px;
}


.liclass {
    color: var(--whitecolor);
    margin-left: 25px;
    font-size: 18px;
}
.liclass1 {
    color: var(--whitecolor);
    margin-left: 25px;
    font-size: 18px;
}
.divheader {
    width: 580px;
    height: 485px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 238px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.firsth {
    width: 456px;
    height: 218px;
    font-size: 81px;
    color: var(--whitecolor);
}

.firstp {
    width: 456px;
    height: 57px;
    font-size: 18px;
    color: var(--whitecolor);
}
.smolldiv {
    width: 205px;
    height: 50px;
    background-color: #E76F51;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.smoldiva {
    font-size: 18px;
    color: var(--whitecolor);
}

/* hover */

/* veriables */
:root {
    --whitecolor: #FFFFFF;
}